@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To Your Cookbook</h3>
    <i>This web-app allows you to create, edit and view your own recipes. <br /> Click 'Recipes' at the top of the page to go to your personal cookbook!</i>
</div>
<link href="~/css/HeaderHome.css" rel="stylesheet" />